<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218415673107-2kc1k322fn0cjmene2d6qadkh8ns0lcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218415673107-2kc1k322fn0cjmene2d6qadkh8ns0lcv</string>
	<key>API_KEY</key>
	<string>AIzaSyApjrTQALGU0tOSbTHUryCXteH2stwem0A</string>
	<key>GCM_SENDER_ID</key>
	<string>218415673107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilsikora.fitts</string>
	<key>PROJECT_ID</key>
	<string>fitts-eceb5</string>
	<key>STORAGE_BUCKET</key>
	<string>fitts-eceb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218415673107:ios:5f99c7f5ff317c451134e6</string>
</dict>
</plist>